@import url('https://fonts.googleapis.com/css2?family=Bungee+Shade&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap');

$primary-black: #212529;
$primary-green: #38B000;
$green-1: #70E000;
$green-2: #9EF01A;
$green-3:  #CCFF33;
$grey-1: #343A40;
$grey-2: #495057;
$grey-3: #6C757D;
$grey-4: #CED4DA;
$grey-5: #E9ECEF;
$grey-6: #F8F9FA;
$white: #FFFFFF;
$black:  #000000;
$purple: #B5179E;

html {
  background-color: $primary-black;
}

.form-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  padding-top: 32px;
  padding-bottom: 32px;
}

input{
  width:100%;
  height: 40px;
  margin-bottom: 16px;
  background-color: #212529;
  border: 1px solid $grey-2;
  border-radius: 5px;
  padding-left: 12px;
  color: white;
}

input:focus {
  border: 1px solid $green-3;
  color: $green-3;
  outline: none;
}

.form-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  text-align: center;
  box-sizing: border-box;
  font-family: 'Inter';
  font-size: 14px;
  padding: 40px;
  border: 1px solid $grey-2;
  background-color: $primary-black;
  border-radius: 10px;
  text-align:justify;
  box-shadow: 10px 10px 0px 0px rgba(0, 0, 0, 0.25);
  margin: 0 auto;
  width: 400px;
  z-index: 1;
}

.title {
  display: flex;
  justify-content: center;
  color: $green-2;
  margin-bottom: 16px;
  font-family: "Inter";
}

.sub-title {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 24px;
  font-family: "Inter";
}

.green-btn {
  width: 100%;
  height: 40px;
  background-color: $primary-green;
  border: none;
  border-radius: 5px;
  color: white;
  font-family: 'Inter';
  font-weight: 600;
  transition-duration: .5s;
  transition-timing-function: ease;
}

.green-btn:hover {
  background-color: $purple;
  box-shadow: 10px 10px 0px 0px rgba(0, 0, 0, 0.25);
  cursor: pointer;
}

.login-signup-div {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Inter';
  font-size: 14px;
  color: white;
  margin-top: 40px;
  z-index: 1;
}

.login-signup-btn {
  background-color: transparent;
  color: $green-1;
  border: none;
  font-weight: 600;
  text-decoration: none;
}

.login-signup-btn:hover {
  color: $purple;
  cursor: pointer;
}

//navbar styles

.nav-bar {
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  border-right: 1px solid $grey-2;
  background-color: $primary-black;
  width: 250px;
  padding: 32px;
}

.nav-logo {
  width: 150px;
  margin-bottom: 40px;
}

Link {
  text-decoration: none;
}

.nav-menu-item {
  text-decoration: none;
  font-size: 14px;
  font-weight: 600;
  font-family: 'Inter';
  width: 100%;
  padding: 13px 16px 13px 16px;
  color: white;
}

//page styles

.page {
  margin-left: 350px;
}

//SVG asset styles

.bg-pattern {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100vw;
  opacity: 100%;
}

.blur-one {
  position: absolute;
  bottom: 20%;
  left: 20%;
  width: 500px;
}

.blur-two {
  position: absolute;
  bottom: 50%;
  right: 20%;
  width: 300px;
}

.blur-three {
  position: absolute;
  bottom: 10%;
  right: 15%;
  width: 600px;
}

.dashboard {
  // background-color: aquamarine;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.chart-container {
  // display: flex;
  // flex-direction: column;
  // justify-content: left;
  // background-color: red;
  height: 400px;
}

.bar-container {
  width: 400px;
  background-color: aqua;
  
}

table, td, th{
  td{
  padding: 8px;
  text-align: left;
  border: 1px solid #ddd;
  }
  th{
    border: 1px solid #ddd;
    padding: 8px;
  }
  width: 100vw;
  border: 1px $green-2;
  color: white;
}

/* CSS for modal */

body.active-modal {
  overflow-y: hidden;
}

.btn-modal {
  padding: 10px 20px;
  display: block;
  margin: 100px auto 0;
  font-size: 18px;
  background-color: $green-1;
  border: none;
  border-radius: 0.25rem;
}

.modal, .overlay {
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
}

.overlay {
  background: rgba(49,49,49,0.8);
}
.modal-content { 
  #expenseContainer{
    input{
      margin-bottom: 20px;
      width: 100%;
      height: 23px;
      padding-left: 0px;
      background-color: #212529;
      border: 1px solid hsl(0, 0%, 83%);
      border-radius: 0.25rem;
      color: white;
    }
    select {
      margin-bottom: 20px;
      width: 102%;
      height: 27px;
      padding-left: 0px;
      background-color: #212529;
      border: 1px solid hsl(0, 0%, 83%);
      border-radius: 0.25rem;
      color: white;
    }
    #addBtn{
      width: 102%;
      height: 25px;
      background-color: #38B000;
      border-radius: 0.25rem;
      border: none;
      color: white;

    }
    display: flex;
    flex-direction: column;
    align-items: left;

  }
  .close-modal {
    width: 102%;
    height: 25px;
    background-color: #495057;
    border-radius: 0.25rem;
    border: none;
    color: white;
  }
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  line-height: 1.4;
  background: #212529;
  padding: 14px 28px;
  border-radius: 1rem;
  max-width: 600px;
  min-width: 300px;
  height: 350px;
  color:white;
  border: 1px solid hsl(0, 0%, 83%);
}





